*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background: #0b0f19;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #0e1324;
}

.logo{
    font-size: 28px;
    font-weight: bold;
    color: #00eaff;
    text-shadow: 0 0 8px #00eaff;
}

nav a{
    margin-left: 25px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    position: relative;
    transition: 0.3s;
}

nav a::after{
    content: "";
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -4px;
    position: absolute;
    background-color: #22eaff;
    border-radius: 16px;
    transition: 0.4s;
}


nav a:hover{
    color: #00eaff;
    transform: scale(1.25);
    text-shadow: 0 0 10px #00eaff;
}

nav a:hover::after{
    width: 50%;
    transform: translateX(50%);
}

.hero{
    height: 90vh;
    background-image: url('https://media.istockphoto.com/id/1314616897/photo/3d-render-abstract-urban-futuristic-background-cityscape-with-neon-light-starry-night-sky-and.jpg?s=612x612&w=0&k=20&c=8u9du7wZ_gwMt6beuW-QRhzts2U38oioiPH-ZDdXJwQ=');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero-text h1{
    font-size: 22px;
    color: #00eaff;
    text-shadow: 0 0 12px #00eaff;
    margin-bottom: 10px;
}

.hero-text p{
    font-size: 20px;
    opacity: 0.8;
    margin-bottom: 20px;
}

.hero-btn{
    text-decoration: none;
    background: #00eaff;
    padding: 12px 30px;
    color: #0b0f19;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 0 25px #00eaff;
    transition: 0.3s;
}

.hero-btn:hover{
    transform: scale(1.15);
    box-shadow: 0 0 40px #00eaff;
}

.tournaments{
    padding: 60px 40px;
    text-align: center;
}

.section-title{
    font-size: 36px;
    color: #00eaff;
    text-shadow: 0 0 10px #00eaff;
    margin-bottom: 30px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    background: #181d2f;
    padding: 20px;
    width: 280px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,234,255,0.2);
    transition: 0.3s;
    border: 1px solod  rgba(0,234,255,0.3);

}

.card h3{
    color: #00eaff;
    margin-bottom: 10px;
}

.card p{
    margin-bottom: 5px;
    opacity: 0.9;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(0,234,255,0.6);
}

.card-btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #00eaff;
    color: #0b0f19;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 0 20px #00eaff;
    transition: 0.3s;
}

.card-btn:hover{
    transform: scale(1.2);
    box-shadow: 0 0 35px #00eaff;
}