*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: linear-gradient(135deg,#4facfe, #00f2fe);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h2{
    color: white;
    font-size: 32px;
}

.form-container{
    width: 380px;
    padding: 35px 30px;
    background: rgba(255,255,255,0.2);
    border-radius: 18px;
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 28px rgba(0,0,0,0.25);
    animation: pop 0.4s ease;

}

@keyframes pop{
    0%{
        transform: scale(0.8);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.form-container h3{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-size: 24px;
}

.input-group{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-group label{
    color: #fff;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.input-group input{
    padding: 10px 12px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}

.input-group input:focus{
    border: 2px solid #4facfe;
    box-shadow: 0 0 8px rgba(79,172,254,0.7);
}

.btn{
    width: 100%;
    padding: 12px;
    background: #4facfe;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.btn:hover{
    background: #00c6ff;
    transform: translateY(-2px);
    box-shadow: 0 5px 12px rgba(0,0,0,0.2);
}

