* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background: #aa5cf8;
    height: 9vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 15;
    position: fixed;
    box-shadow: 0 0 20px;
}

.logo {
    height: 70px;
    width: 170px;
    background: #00000000;
    border-radius: 8px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 70px;
    width: 170px;
    object-fit: cover;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 40px;
    color: #fff;
    padding: 10px;
    transition: 0.3s ease-in;
}

nav a:hover {
    transform: scale(1.08);
    color: #aa5cf8;
    background-color: azure;
    border-radius: 8px;
    box-shadow: 0 0 20px #fff;
}

nav a.active {
    color: #aa5cf8;
    background-color: azure;
    border-radius: 8px;
    box-shadow: 0 0 20px #fff;
    font-weight: bolder;
}

/* ---------------------------------------------------------------------------------------------------------------- */

.apply{
    background: linear-gradient(135deg,#4facfe, #00f2fe);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h2{
    color: white;
    font-size: 32px;
}

.form-container{
    width: 380px;
    padding: 35px 30px;
    background: rgba(255,255,255,0.2);
    border-radius: 18px;
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 28px rgba(0,0,0,0.25);
    animation: pop 0.4s ease;

}

@keyframes pop{
    0%{
        transform: scale(0.8);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.form-container h3{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-size: 24px;
}

.input-group{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-group label{
    color: #fff;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.input-group input{
    padding: 10px 12px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}

.input-group input:focus{
    border: 2px solid #4facfe;
    box-shadow: 0 0 8px rgba(79,172,254,0.7);
}

.btn{
    width: 100%;
    padding: 12px;
    background: #4facfe;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

/* -------------------------------------------------------------------------------------------------------- */

.foot {
    background-color: brown;
    padding: 20px;
    /* height: 60vh; */
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    gap: 20px;
    padding: 40px;
    justify-content: center;
}

.foot-grid {
    margin-top: 25px;
    /* border: solid 1px #fff; */
    padding: 10px;
    text-align: center;
    color: white;
}

#foot-grid1 h3 {
    text-align: center;
    color: black;
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 20px #fff;
}

#foot-grid1 img {
    padding: 10px;
    width: 70%;
}

#foot-grid1 p {
    padding: 10px;
    line-height: 22px;
    text-align: left;
}

#foot-grid2 h3 {
    text-align: center;
    color: black;
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 20px #fff;
}

.links {
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.links a {
    text-decoration: none;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    margin-top: 10px;
}

#foot-grid3 h3 {
    text-align: center;
    color: black;
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 20px #fff;
}

#foot-grid3 h5 {
    margin-top: 25px;
    text-align: left;
    padding-left: 20px;
    font-size: 19px;
}

#foot-grid3 p {
    padding-left: 20px;
    padding-right: 20PX;
    font-size: 17px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



