*{
    margin: 0;
    padding: 0;
}

.header{
    height: 5vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h3{
    color: aliceblue;
}

.main-img{
    height: 400px;
    background-color: rgb(255, 140, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-img{
    height: 350px;
    width: 95%;
    background: #000;
    border-radius: 16px;
    box-shadow: 0 0 25px #ff0000;
    transition: 0.4s;
}

.content-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    
}

.content-img:hover{
    transform: scale(1.06);
    box-shadow: 0 0 50px #000;
}

.info{
    height: 50vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-1{
    height: 40vh;
    width: 70%;
    background-color: aliceblue;
    /* display: flex;
    align-items: center;    */
    /* display: block;
    justify-content: center;
    align-items: center; */
}

.info-1 h4{
    margin-left: 35%;
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 30px;
}

.info-1 ul{
    margin-left: 25%;
    margin-top: 15px;
}

.info-1 li{
    line-height: 30px;
    font-size: 22px;
}

.info-2{
    height: 40vh;
    width: 70%;
    background-color: rgb(255, 255, 255);
}

.info-2 h4{
    margin-left: 20%;
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 25px;
}

.info-2 ol{
    margin-left: 25%;
    margin-top: 15px;
}

.info-2 li{
    line-height: 30px;
    font-size: 22px;
}

.last{
    width: 100%;
    height: 50vh;
    background-color: #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    height: 30vh;
    width: 70%;
    background-color: #fff;
}

